<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Demo</title>
</head>
<body>
		<h3>Create new tutorial</h3>
		<form th:action="@{/create}" method="post">
			<label>title:</label>
			<input type="text" id="title" name="title" class="form-control"/><br>
			<label>description:</label>
			<input type="text" id="description" name="description" class="form-control"/>
			<input type="submit" value="Create"/>
		</form>
</tbody>
</table>
</div>
<a href="/tutorial">Tutorial</a>
</body>
</html>